
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


nav{
    display: flex;
    align-items: center; 
    margin: 50px 200px;
    justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.btn{
    background-color: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    
}
.color{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
   
    

}
nav li a {
       text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}
.heading{
    font-size: 45px;
    font-weight: 600;
}
.titel{
    font-size: 85px;
    font-weight: 700;
}
.discription{
    font-size: 18px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
   
  
}
.banner-contant{
    max-width: 585px;
}
.picture{
    width: 584px;

}

.first{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.scnd-bg{
    background-color: #FFF8F3;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 157px;
    margin-top: 130px; 
    text-align: center;

}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.item-description{
    font-weight: 700;
}
.about-items{
    display: flex;
    justify-content: space-around;
   
}
.text-center{
    text-align: center;

}
/* skills section style */
.skills-container{
    display: flex;
   gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.resume-container{
    display: flex;
    gap: 24px;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgba(117, 117, 117, 1)
}
.experience-description{
    color: rgba(117, 117, 117, 1);
}
.resume hr{
    margin: 30px 5px;
}
.resume-button{
    margin-top: 50px;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}